.screen {
  filter: grayscale(65%);
  opacity: 50%;
  background-color: bisque;
  display: flex;
  position: fixed;
  padding-top: 5rem;
  padding-left: 7rem;
  padding-bottom: 4rem;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}

.results-table {
  font-size: 2.3rem;
  background-color: rgb(103, 71, 92);
  width: 90%;
  table-layout: fixed;
  margin-top: 4rem;
  border-radius: 10rem;
  border: 1rem solid;
  border-spacing: 0.4rem;
  text-align: center;
  border-color: rgb(103, 71, 92);
  overflow: scroll;
}

.results-table th {
  text-align: center;
  font-size: 3rem;
  padding-top: 0.2rem;
  background-color: bisque;
  color: rgb(103, 71, 92);
  border: 0.5rem solid;
  border-color: rgb(103, 71, 92);
  padding-bottom: 0.2rem;
}

.results-table td {
  background-color: bisque;
  border: 0.4rem solid;
  border-color: rgb(103, 71, 92);
  color: rgb(103, 71, 92);
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.disabled {
  filter: brightness(50%);
}

.back-button {
  border: 2rem solid;
  font-size: 4rem;
  padding: 1rem;
  border-radius: 0.8rem;
  border-color: bisque;
  background-color: rgb(103, 71, 92);
  color: bisque;
}
